[Desktop Entry]
Type=Application
Name=GPUpad
Comment=GLSL Shader Editor
Exec=gpupad %F
Icon=gpupad
Terminal=false
Categories=Development;IDE;
StartupNotify=true
Keywords=Text;Editor;
